<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>
        <!-- 장고가 {{ post }}를 객체 목록으로 이해하고 처리 -->
        {% for post in posts %}
        <div>
            <p>published: {{post.published_date}} </p>
            <h1><a href="">{{ post.title }}</a></h1>
            <!-- 파이프 문자(|): 텍스트에서 행이 바뀌면 문단으로 변환 -->
            <p>{{ post.text|linebreaksbr }}</p>
        </div>    
        {% endfor %}
    </body>
</html>